<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/businesses">HOME</a>
        <a href="/businesses/customers">CUSTOMERS</a>
        <a href="/businesses/transactions">TRANSACTIONS</a>
        <a href="/auth/google" class='log'> LOGIN WITH GOOGLE</a>
        <a href="/logout" class='log'>LOG OUT</a>
    </nav>
    <main>