<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/auth/google"> Login with Google</a>
        <a href="/logout">Log Out</a>
    </nav>
    <main>
        <h1>Welcome to Small Business Organizer!</h1>
        <h3>Click Login with Google to get started</h3>
    </main>
</body>

</html>