<%- include('../partials/header') %>



<h3>Add Income</h3>
  <form id="add-performer-form" action="/businesses/<%- businessId %>/income" method="POST">
    <label>Item:</label>
    <input type="text" name="item"><br>
    <label>Amount:</label>
    <input type="number" name="amount">
    <input type="submit" value="Add Income">
  </form>


<%- include('../partials/footer') %>