<%- include('../partials/header') %>


<p>Create a business:</p>
<form id="new-form" action="/businesses" method="POST">
    <label>Business name:</label>
    <input type="text" name="name"/>
    <input type="submit" value="Create Business"/>
  </form>

<%- include('../partials/footer') %>